@charset "UTF-8";



/* Common Elements */

body {
    background-color: #2d2932;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #D1E4FF;
    margin: auto;
    max-width: 100%;
    padding: 5px;
}

header {
    align-items: center;    /* Centers flex items horizontally within the header */
    background-color: #FFECD1;
    display: flex;  /* Makes header into flex container, items become flex items */
    flex-direction: column; /* Items arranged vertically instead of horizontally */
    padding: 10px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;  /* Makes the unordered list a flex container */
    flex-direction: column; /* The list items listed vertically */
    list-style-type: none;  /* Removes dots from list */
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav a {
    text-decoration: none;  /* Removes underline from hyperlinks */
    padding: 10px;
    display: block;
}

footer {
    background-color: #FFECD1;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #FFECD1;
    padding: 5px;
}

button:hover {
    box-shadow: inset 0 0 5px #2d2932;
}



/* Home Specific */

#home {
    height: 300px;
    padding: 10px;
    background-image: url("../Img/background.jpg");
    background-size: cover;
    color: #e3e3e3;
}

#homename {
    color: #ac71ff;
    font-size: large;
}



/* Contact, About, Project Specific */

#formreset{
    background-color: rgb(255, 179, 179);
}

#formsubmit{
    background-color: rgb(196, 196, 255);
}

#contact, #about, #projects {
    padding: 10px;
}

video{
    max-width: 50%;
}

#aboutintro{
    display: flex;  /* makes it a flex container */
    align-items: center;    /* vertically centers the flex items */
    
}

#aboutintro img{
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

#abouttext{
    flex: 1;    /* fills up any horizontal space */
}